@extends(base)
@set(title="Login")
@section ("content") {
<div class="starter-template login-input">

<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">

<div ng-controller="loginCtrl">
<form role="form" ng-submit="loginUser()">
  <div class="form-group">
    <label for="emailInput">Email</label>
    <input type="email" class="form-control" ng-model="email" id="emailInput" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" ng-model="password" id="passwordInput" placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>

<div class="alert alert-danger" role="alert" ng-if="loginErrorExists()">
	{{loginError}}
</div>

</div>
</div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
</div>
}
@section ("scripts") {
}
